@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">Welcome</h1>
        <p>
            Thank you for visiting the Grand Circus Page!
            To register, please click on the "Registration" link.
        </p>
        <a asp-controller="Registration" asp-action="Index">Registration</a>
    </div>
